/* style */

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}
.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1.2em;
      .btn {
          padding: 0.5em;
      }
    }
}

body {
  font-size: .5rem;
}

#mainContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#scroll  {
}

#effects {
  /* width: 45%;
  float: right;
  position: absolute; */
}

#dropdownGender, #dropdownDrug {
  margin-bottom: 15px;
}

.container {
  margin: 10px;
  display: inline-block;
}

#effects {
  border: black solid 1px;
  padding: 10px;
  border-radius: 15px;
}
