/* style */


.jumbotron {
  padding: 0.5em 0.6em;
  overflow: auto;
  background-color: #eee;
}

.jumbotron h1, p {
  padding-left: 10px;
  padding-top: 5px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: .75rem;
}

p {
  font-size: 1.2em;
}

.btn {
  padding: 0.5em;
}

body {
  font-size: .5rem;
}

.image {
  text-align: center;
  padding-bottom: 15px;
}

.ibox {
  padding: 10px;
  margin-bottom: 10px;
  font-size: .6rem;
  font-weight: bold;
}

input, select {
  float: right;
}

#mainContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#effects {
  margin-bottom: 20px;
  position: fixed;
  left: 50%;
  width: 45%;
  max-height: 75%;
  overflow: scroll;
  padding-left: 0px;
  padding-right: 0px;
}

#dropdownGender, #dropdownDrug {
  margin-bottom: 15px;
}

.container {
  padding: 10px;
  display: inline-block;
  margin-left: unset;
}

#effects {
  padding: 10px;
  background-color: #eee;
}

#scroll {
  margin-left: 5%;
  position: fixed;
  width: 40%;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 75%;
  max-height: 75%;
  overflow: auto;
  direction:ltr;
}

#d_submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  width: 100px;
}




/*  for collasible paragraphs: https://www.w3schools.com/howto/howto_js_collapsible.asp */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 15px;
  display: none;
  overflow: hidden;
  background-color: #F5F5F5;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#stimulator {
  font-weight: bold;
}
#stimulatorContent {
  background-color: #FFFFFF;
}
